%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    %title FreemarketSample65e
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", type: "text/javascript"}
    %link{href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'


%body.signup
  .regist-header
    %h1.signup
      = link_to root_path, data: {"turbolinks" => false} do
        = image_tag "fmarket_logo_red.svg" ,alt: '' , height: '49px', width: '185px', class:'top-logo'
  .contents-sns
    .contents-sns__main
      .contents-sns__main__title
        新規会員登録
      .contents-sns__main__btn  
        .contents-sns__main__btn__link
        = link_to step1_signup_index_path, class: "contents-sns__main__btn__link__email" do
          = icon('far', 'envelope',class:"contents-sns__main__btn__link__email__icon-mail")
          %span
            メールアドレスで登録する
        = link_to user_facebook_omniauth_authorize_path,method: :post, class: "contents-sns__main__btn__link__facebook" do
          = icon('fab', 'facebook-square',class:"contents-sns__main__btn__link__facebook__icon-fbook")
          %span
            facebookで登録する
        = link_to user_google_oauth2_omniauth_authorize_path,method: :post, class: "contents-sns__main__btn__link__google" do
          = icon('fab', 'google',class:"contents-sns__main__btn__link__google__icon-google")
          %span
            googleで登録する

  .buy-result__footer-s-new
    %nav
      %ul
        %li
          = link_to "#", class: "menu" do
            プライバシーポリシー
        %li
          = link_to "#", class: "menu" do
            メルカリ利用規約
        %li
          = link_to "#", class: "menu" do
            特定商取引に関する表記
      .buy-result__footer-s-new__logo
        = link_to root_path do
          = image_tag 'logo_gray.svg', alt: ''
      %p
        %span
          ©︎ Fmarket,lnc.
