-breadcrumb :cardlist_first
=render 'layouts/breadcrumbs'
%main
  =render 'shared/side_bar'
  .card-content
    %h2.card-content-head 
      クレジットカード情報入力
    .card-registration
        = form_for @user, url: signup_index_path, method: :post do |f|
          = f.fields_for :user_detail do |p|
            .card-registration-head
              %h2 支払い方法
            .card-registration-box
              .card-number-upper-form
                = p.label :credit_num, "カード番号"
                %span.form-required
                  必須
                = p.text_field :credit_num, placeholder: "半角数字のみ"
                %ul.available
                  %li      
                    = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?1714804574", size: "49x20", class: "visa"
                  %li
                    = image_tag"//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?1714804574", size:"34x20", class:"master"
                  %li
                    = image_tag"//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?1714804574", size:"30x20", class:"saison"
                  %li
                    = image_tag"//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?1714804574", size:"32x20", class:"jcb"
                  %li
                    = image_tag"//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?1714804574", size:"21x20", class:"americanexpress"
                  %li
                    = image_tag"//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?1714804574", size:"32x20", class:"diners"
                  %li
                    = image_tag"//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?1714804574", size:"32x20", class:"discover"
                .card-expiration-form
                  = p.label :payjp_id, "有効期限"
                  %span.form-required
                    必須
                  .select-year-month
                    .select-year-month-form
                      = p.select :payjp_id,[["--", ""],
                                            ["01", "01"],
                                            ["03", "03"],
                                            ["04", "04"],
                                            ["05", "05"],
                                            ["06", "06"],
                                            ["07", "07"],
                                            ["08", "08"],
                                            ["09", "09"],
                                            ["10", "10"],
                                            ["11", "11"],
                                            ["12", "12"],
                                            ]
                    %span
                      月
                    .select-year-month-form
                      = p.select :payjp_id,[["--", ""],
                                            ["19", "19"],
                                            ["20", "20"],
                                            ["21", "21"],
                                            ["22", "22"],
                                            ["23", "23"],
                                            ["24", "24"],
                                            ["25", "25"],
                                            ["26", "26"],
                                            ["27", "27"],
                                            ["28", "28"],
                                            ["29", "29"],
                                            ]
                    %span
                      年
                  .card-security-number-form3
                    %label.card-security-code
                      セキュリティーコード
                    %span.form-required
                      必須
                    %input.card-number-form{placeholder:"カード背面４桁もしくは３桁の番号"}
                    .signup-security-code
                      .signup-security-code-text
                        = link_to "#", class: "signup-security-code-text__btn" do
                          %span.question
                            ？
                          カード裏面番号とは
                    .card-registration-form__btn
                      = f.submit '追加する', class:"card-registration-form__btn2"