-breadcrumb :profile
=render 'layouts/breadcrumbs'
%main.identification
  =render 'shared/side_bar'
  .identification__user
    .identification__user__head
      %h2 本人情報の登録
    .identification__user__text
      = form_for "" do |f|
        .identification__user__text__box
          お客様の本人情報をご登録ください。
          %br 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        %p.identification__user__text__right
          =link_to "本人確認書類のアップロードについて＞"
        .identification__user__text__form
          %label.form-zip-code
            お名前
          %p.identification__user__text__form__arbitrary-red
            必須
        = f.text_field :first_name, class: "identification__user__text__input", placeholder: "例）山田"
        = f.text_field :first_name, class: "identification__user__text__input", placeholder: "例）彩"
        .identification__user__text__form
          %label.form-zip-code
            お名前 カナ
          %p.identification__user__text__form__arbitrary-red
            必須
        = f.text_field :first_name, class: "identification__user__text__input", placeholder: "例）ヤマダ"
        = f.text_field :first_name, class: "identification__user__text__input", placeholder: "例）アヤ"
        .identification__user__text__form
          %label.form-zip-code
            生年月日
          %p.identification__user__text__form__arbitrary-red
            必須
        .birthday
          != sprintf(f.date_select(:birthday, prefix:'birthday',with_css_classes:'birthday', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'
        %p.identification__user__text__info
          ※出品されたことがある、本人情報未登録のお客さまもご対象となります。
        .identification__user__text__form
          %label.form-zip-code
            郵便番号
          %p.identification__user__text__form__arbitrary
            任意
        = f.text_field :first_name, class: "identification__user__text__input", placeholder: "例）1234567"
        .identification__user__text__form
          %label.form-zip-code 都道府県 
          %span.identification__user__text__form__arbitrary 任意
        .name-box-name-box
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "---", class: 'input'
        .identification__user__text__form
          %label.form-city
            市区町村
          %p.identification__user__text__form__arbitrary
            任意
        = f.text_field :first_name, class: "identification__user__text__input", placeholder: "例）横浜市緑区"
        .identification__user__text__form
          %label.form-address
            番地
          %p.identification__user__text__form__arbitrary
            任意
        = f.text_field :first_name, class: "identification__user__text__input", placeholder: "例）青山1−1−1"
        .identification__user__text__form
          %label.form-building
            建物名
          %p.identification__user__text__form__arbitrary
            任意
        = f.text_field :first_name, class: "identification__user__text__input", placeholder: "例）柳ビル１０３"
        .identification__user__text__btn
          = f.submit "登録する", class: "identification__user__text__btn__red"
        .identification__user__text__contents
          = link_to "本人情報の登録について＞"