%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample65e
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel: "stylesheet", type: "text/css"}/
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", type: "text/javascript"}
    %script{src: "https://www.google.com/recaptcha/api.js"}

%body
.login-container
  .regist-header-login
    %h1
      = link_to root_path, data: {"turbolinks" => false} do
        = image_tag "fmarket_logo_red.svg" ,alt: 'top-logo' , height: '49px', width: '185px', class:'top-logo'

  .log-in-main
    .log-in-main-boxes
      .log-in-main-boxes__new
        %p アカウントをお持ちでない方はこちら
        =link_to "新規会員登録", new_signup_path

      .log-in-main-boxes__sns
        =link_to user_facebook_omniauth_authorize_path, method: :post, class: "facebook-btn" do
          = icon('fab', 'facebook-square', class:"facebook-icon")
          %span
            Facebookでログインする
        =link_to user_google_oauth2_omniauth_authorize_path,method: :post, class: "google-btn" do
          = image_tag 'google.png', alt: 'google', height: '20px', width: '20px', class: "google-icon"
          %span
            Googleでログインする

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .log-in-main-boxes__register
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "register-email"
          = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "register-pass"
          
          .recaptcha
            = flash[:recaptcha_error]
            = recaptcha_tags

          = f.submit "ログイン", class: "register-btn"
          
          %a
            - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
              = link_to "パスワードをお忘れの方", new_password_path(resource_name)
  .regist-footer
    %ul.regist-footer__info
      %li
        =link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/", class: "rule1"
      %li
        =link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos", class: "rule2" 
      %li
        =link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/", class: "rule3"
      .regist-footer__logo
        = link_to root_path, data: {"turbolinks" => false} do
          = image_tag "logo_gray.svg"
        %small © Fmarket, Inc.
