%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample65e
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel: "stylesheet", type: "text/css"}/
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", type: "text/javascript"}

%body
#regist-header-login
  %h1
    = link_to "#" do
      = image_tag "fmarket_logo_red.svg" ,alt: '' , height: '49px', width: '185px', id:'top-logo'

#log-in-main
  #log-in-main__boxes
    #log-in-main__boxes__noaccount
      %p アカウントをお持ちでない方はこちら
      %a{href: "https://www.mercari.com/jp/signup/?after_save_callback=%2Fjp%2F"} 新規会員登録

    #log-in-main__boxes__SNS
      =link_to "https://www.facebook.com/", id: "log-in-main__boxes__SNS__facebook" do
        = icon('fab', 'fa-facebook-square', id:"log-in-main__boxes__SNS__facebook__icon-fbook")
        %span
          Facebookでログインする

      =link_to "#", id: "log-in-main__boxes__SNS__google" do
        = icon('fab', 'fa-google', id:"log-in-main__boxes__SNS__google__icon-google")
        %span
          Googleでログインする

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    #log-in-main__boxes__info
      #log-in-main__boxes__info__email
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス"
      #log-in-main__boxes__info__pass
        = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード"
      
      =link_to "https://gyazo.com/d71451016edb3e7ec63c13f03c91000c" do
        %img{alt: "Image from Gyazo", src: "https://i.gyazo.com/d71451016edb3e7ec63c13f03c91000c.png", :width => "242"}

      #log-in-main__boxes__login
        = f.submit "ログイン"

      %- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
      = link_to "パスワードをお忘れの方", new_password_path(resource_name)


#regist-footer
  %nav
    %ul
      %li#regist-footer__rule__list__first
        %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
      %li#regist-footer__rule__list__second
        %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
      %li#regist-footer__rule__list__third
        %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
  =link_to "#" do
    =image_tag "fmarket_logo_white.svg" ,alt: '' , height: '36px', width: '150px', id:'footer-logo'
  %p
    %small © Mercari, Inc.
