%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample65e
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel: "stylesheet", type: "text/css"}/
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", type: "text/javascript"}


.product
  .item-area
    .item-area__title
      = @product.title
    .item-status
      .thumbnail
        -# - @product.images.each_with_index do |x, i|
        - @product.images.each do |i|
          =image_tag i.image, size: "300x300", alt: "image", class: "mainImage"
          %ul.thumbnail-thumb
            %li.thumbnail-thumb__img
              =image_tag i.image, size: "60x60", alt: "image", class: "thumb"
         

      .item-teble
        %table
          %tr
            %th 出品者
            %td.user-name
              = link_to @product.user.nickname, users_profile_path
                
              .evaluation
                .evaluation__good
                  = icon('fas', 'laugh', class: "icon")
                  %span 0
                .evaluation__usually
                  = icon('fas', 'meh', class: "icon")
                  %span 0
                .evaluation__bad
                  = icon('fas', 'frown', class: "icon")
                  %span 0
          %tr
            %th カテゴリー
            %td
              .category
                .category__1
                  = link_to @product.category.parent.parent.name, '#'
                .category__2
                  = link_to "＞" + @product.category.parent.name, '#' 
                .category__3
                  = link_to "＞" + @product.category.name, '#' 

          %tr
            %th ブランド
            %td 
              = link_to @product.brand.brand, '#' 
          %tr
            %th 商品のサイズ
            %td M
          %tr
            %th 商品の状態
            %td 未使用に近い
          %tr
            %th 配送料の負担
            %td 
              = @product.postage
          %tr
            %th 配送の方法
            %td
              = @product.shipping
          %tr
            %th 配送元地域
            %td 
              = link_to @product.prefecture, '#'
          %tr
            %th 発送日の目安
            %td
              = @product.day
    .price-box
      %span.price-box__price
        ¥
        = @product.price.to_s(:delimited)
      %sapn.price-box__tax
        (税込)
      %span.price-box__posteger
        送料込み
    .buy-btn
      %button.buy-btn--submit{type:"button"}
        %span 購入画面に進む
    .attention-message
      = @product.info
    .btn-container
      .left-container
        %button.left-container__like{type:"button"}
          = icon('far', 'heart fa-lg', class: "icon")
          %a いいね！
          %span 42
        %button.left-container__report{type:"button"}
          = icon('far', 'flag', class: "icon")
          %a 不適切商品の報告
      .right-container
        = icon('fas', 'lock', class: "icon")
        = link_to " あんしん・あんぜんへの取り組み", '#'    

  .comment-container
    %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    %textarea.comment-container__box
    .comment-container__btn 
      %button.comment-container__btn--submit{type:"button"}
        %span コメントする
  %ul.link-item
    %li.link-item__back
      = link_to "＜NIKE AIRMAX", '#'
    %li.link-item__next
      = link_to "adidas superstar＞", '#'
  .item-sns-container
    .item-sns-container-box
      %ul.sns-list
        %li.sns-list__fecebook
          =link_to "https://www.facebook.com/" do
            = icon('fab', 'facebook-square', class: "icon")
        %li.sns-list__twitter
          =link_to "https://twitter.com/login?lang=ja" do
            = icon('fab', 'twitter', class: "icon")
        %li.sns-list__pinterest
          =link_to "https://www.pinterest.jp/" do
            = icon('fab', 'pinterest', class: "icon")

  %h2.etc-item 
    = link_to '#' do
      %span user
      %span さんのその他の出品
  .item-list
    %ul.item-box
      %li.item-box__image
        = link_to '#' do
          =image_tag 'm92425895119_1.jpg', size: "220x220", alt: "image"
          .item-box__comment
            .item-title
              %span トラックジャケット
            .item-pofile
              .item-pofile__price
                %span ¥
                %span 13,000
              .item-pofile__evaluation
                = icon('far', 'heart fa-lg', class: "icon")
                %span 10

      %li.item-box__image
        = link_to '#' do
          =image_tag 'm92425895119_1.jpg', size: "220x220", alt: "image"
          .item-box__comment
            .item-title
              %span トラックジャケット
            .item-pofile
              .item-pofile__price
                %span ¥
                %span 13,000
              .item-pofile__evaluation
                = icon('far', 'heart fa-lg', class: "icon")
                %span 10

      %li.item-box__image
        = link_to '#' do
          =image_tag 'm92425895119_1.jpg', size: "220x220", alt: "image"
          .item-box__comment
            .item-title
              %span トラックジャケット
            .item-pofile
              .item-pofile__price
                %span ¥
                %span 13,000
              .item-pofile__evaluation
                = icon('far', 'heart fa-lg', class: "icon")
                %span 10

      %li.item-box__image
        = link_to '#' do
          =image_tag 'm92425895119_1.jpg', size: "220x220", alt: "image"
          .item-box__comment
            .item-title
              %span トラックジャケット
            .item-pofile
              .item-pofile__price
                %span ¥
                %span 13,000
              .item-pofile__evaluation
                = icon('far', 'heart fa-lg', class: "icon")
                %span 10 

      %li.item-box__image
        = link_to '#' do
          =image_tag 'm92425895119_1.jpg', size: "220x220", alt: "image"
          .item-box__comment
            .item-title
              %span トラックジャケット
            .item-pofile
              .item-pofile__price
                %span ¥
                %span 13,000
              .item-pofile__evaluation
                = icon('far', 'heart fa-lg', class: "icon")
                %span 10 

      %li.item-box__image
        = link_to '#' do
          =image_tag 'm92425895119_1.jpg', size: "220x220", alt: "image"
          .item-box__comment
            .item-title
              %span トラックジャケット
            .item-pofile
              .item-pofile__price
                %span ¥
                %span 13,000
              .item-pofile__evaluation
                = icon('far', 'heart fa-lg', class: "icon")
                %span 10  

    %h2.etc-item 
      = link_to '#' do 
        %span ザ ノースフェイス
        %span その他の出品  
    .item-list__category
      %li.item-box__image
        = link_to '#' do
          =image_tag 'm92425895119_1.jpg', size: "220x220", alt: "image"
          .item-box__comment
            .item-title
              %span トラックジャケット
            .item-pofile
              .item-pofile__price
                %span ¥
                %span 13,000
              .item-pofile__evaluation
                = icon('far', 'heart fa-lg', class: "icon")
                %span 10

      %li.item-box__image
        = link_to '#' do
          =image_tag 'm92425895119_1.jpg', size: "220x220", alt: "image"
          .item-box__comment
            .item-title
              %span トラックジャケット
            .item-pofile
              .item-pofile__price
                %span ¥
                %span 13,000
              .item-pofile__evaluation
                = icon('far', 'heart fa-lg', class: "icon")
                %span 10

      %li.item-box__image
        = link_to '#' do
          =image_tag 'm92425895119_1.jpg', size: "220x220", alt: "image"
          .item-box__comment
            .item-title
              %span トラックジャケット
            .item-pofile
              .item-pofile__price
                %span ¥
                %span 13,000
              .item-pofile__evaluation
                = icon('far', 'heart fa-lg', class: "icon")
                %span 10

      %li.item-box__image
        = link_to '#' do
          =image_tag 'm92425895119_1.jpg', size: "220x220", alt: "image"
          .item-box__comment
            .item-title
              %span トラックジャケット
            .item-pofile
              .item-pofile__price
                %span ¥
                %span 13,000
              .item-pofile__evaluation
                = icon('far', 'heart fa-lg', class: "icon")
                %span 10 

      %li.item-box__image
        = link_to '#' do
          =image_tag 'm92425895119_1.jpg', size: "220x220", alt: "image"
          .item-box__comment
            .item-title
              %span トラックジャケット
            .item-pofile
              .item-pofile__price
                %span ¥
                %span 13,000
              .item-pofile__evaluation
                = icon('far', 'heart fa-lg', class: "icon")
                %span 10 

      %li.item-box__image
        = link_to '#' do
          =image_tag 'm92425895119_1.jpg', size: "220x220", alt: "image"
          .item-box__comment
            .item-title
              %span トラックジャケット
            .item-pofile
              .item-pofile__price
                %span ¥
                %span 13,000
              .item-pofile__evaluation
                = icon('far', 'heart fa-lg', class: "icon")
                %span 10

  %nav.link-bottom
    -breadcrumb :detail
  =render 'layouts/breadcrumbs'