%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample65e
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", rel: "stylesheet", type: "text/css"}/
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}

  %body.body-products-new
    %header.header-products-new
      %h1
        = link_to root_path, data: {"turbolinks" => false} do
          = image_tag "fmarket_logo_red.svg", class: "logo-red", height: "49px", width: "185px"


    = form_for @product do |f|
      .exhibition
        .exhibition-head
          %h2 商品の情報を編集
        .exhibition-form
          .exhibition-form-image
            %label.exhibition-image
              出品画像
            %span.form-required
              必須
            %P
              最大１０枚までアップロードできます
            %label.image-box
            .post__drop__box__container
              .prev-content

                //JSで挿入したhtmlと同じ形 each文でのプレビュー表示
                - @product.images.each do |image|
                  .preview-box
                    .upper-box
                      = image_tag image.image.url, width: "112", height: "112", alt: "preview",class:"preimage"
                    .lower-box
                      .update-box
                        %label.edit-btn 編集
                      .delete-box
                        .delete-btn
                          %span 削除
              .label-content
                = f.label :"images_attributes_#{@product.images.length}_image", class: "label-box", id: "label-box--#{@product.images.length}" do
                  %pre.label-box__text-visible クリックしてファイルをアップロード
              .hidden-content
                = f.fields_for :images do |i|

                  //プレビューが出ている分のfile_fieldとdelete用のチェックボックスを設置
                  = i.file_field :image, class: "hidden-field"
                  = i.check_box:_destroy, class: "hidden-checkbox"

              -# .photo_form
              -#   = f.fields_for :images do |i|
              -#     .img_box_boxs
              -#       .img_box1
              -#       .img_box2
              -#       .img_box3
              -#       .img_box4
              -#       .img_box5
              -#       .img_box6
              -#     .photo_form_box
              -#       .photo_display1                    
              -#         = i.file_field :image, class: "file_field1", id: "image"
                      
              -#         .remove_btn1
              -#           削除
              -#       .photo_display2                    
              -#         = i.file_field :image, class: "file_field2", id: "image2"
                      
              -#         .remove_btn2
              -#           削除
              -#       .photo_display3                   
              -#         = i.file_field :image, class: "file_field3", id: "image3"
                      
              -#         .remove_btn3
              -#           削除
              -#       .photo_display4                    
              -#         = i.file_field :image, class: "file_field4", id: "image4"
                      
              -#         .remove_btn4
              -#           削除
              -#       .photo_display5
              -#         = i.file_field :image, class: "file_field5", id: "image5"
                      
              -#         .remove_btn5
              -#           削除
                
          .product-text-form
            .product-text-form__box
              %label.form-user-kana
                商品名
              %span.form-required
                必須
              = f.text_field:title, class:"input-form-product-name", placeholder:"商品名（必須40文字まで)"
              - if @product.errors.messages[:title].any?
                %span.error= @product.errors.messages[:title][0]
            .product-text-form__info
              %label.form-user-kana
                商品の説明
              %span.form-required
                必須
              = f.text_area:info, class:"product-textarea",placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
              - if @product.errors.messages[:info].any?
                %span.error= @product.errors.messages[:info][0]
          .product-details-form
            .product-details-form__info
              %p
                商品の詳細
            .product-details-form__info    
              .product-text-form__info-box
                %label.form-user-kana
                  カテゴリー
                %span.form-required
                  必須            
                .select-categories-form
              .actions
                #parent_category
                = f.select :category_id, [["---", 1], ["新品、未使用", 2], ["目立った傷や汚れなし", 3], ["やや傷や汚れあり", 4], ["傷や汚れあり", 5], ["全体的に状態悪い", 6]]
                
                -#   - @parent_categories.each do |c|
                -#     %option{:value => "#{c.id}"}= c.name
                -# %select#product_category_ids{:name => "product[category_ids]"}
                -#   - @default_child_categories.each do |c|
                -#     %option= c.name
                -# :javascript
                -#   $(function() {
                -#     $('#parent_category').change(function() {
                -#       $.ajax({
                -#         url: "#{dynamic_select_category_path}",
                -#         type: 'GET',
                -#         data: { category_id: $('#parent_category').has('option:selected').val() }
                -#       });
                -#     });
                -#   });
              .product-details-form__info__low
                %label.form-user-kana
                  商品の状態
                %span.form-required
                  必須              
                .select-year-month-form
                = f.select :status, [["---"], ["新品、未使用"], ["目立った傷や汚れなし"], ["やや傷や汚れあり"], ["傷や汚れあり"], ["全体的に状態悪い"]]
                - if @product.errors.messages[:status].any?
                  %p.error= @product.errors.messages[:status][0]
          .product-delivery-form
            .product-delivery-form__info
              %p
                配送について
            .product-delivery-form__info-box
              .product-text-form__box
                %label.form-user-kana
                  送料の負担
                %span.form-required
                  必須        
                .select-year-month-form
                  = f.select :postage, [["---"], ["送料込み(出品者負担)"], ["着払い(購入者負担)"]]
                  - if @product.errors.messages[:postage].any?
                    %span.error= @product.errors.messages[:postage][0]
              .product-text-form__box
                %label.form-user-kana
                  発送の方法
                %span.form-required
                  必須        
                .select-year-month-form
                  = f.select :shipping, [["---"], ["らくらくメルカリ便"], ["ゆうメール"]]
                  - if @product.errors.messages[:shipping].any?
                    %span.error= @product.errors.messages[:shipping][0]
              .product-text-form__box
                %label.form-user-kana
                  発送元の地域
                %span.form-required
                  必須    
                .select-year-month-form       
                  = f.collection_select :prefecture_id, Prefecture.all, :id, :name
                  - if @product.errors.messages[:prefecture_id].any?
                    %span.error= @product.errors.messages[:prefecture_id][0]
              .product-text-form__box
                %label.form-user-kana
                  発送までの日数
                %span.form-required
                  必須        
                .select-year-month-form
                  = f.select :day, [["---"], ["１〜２日で発送"], ["２〜３日で発送"], ["４〜７日で発送"]]
                  - if @product.errors.messages[:day].any?
                    %span.error= @product.errors.messages[:day][0]
          .product-price
            %h3.sell-sub-head 販売価格(300~9,999,999)
            .product-price__group
              .product-price-about
                .product_price-form__left
                  .product_header
                    価格
                  .product_require
                    必須 
                .product_price-form__right
                  .money-mark ¥
                  =f.number_field :price, placeholder: "例) 300", type: "number", id: "price_calc", class:"price_form-box"
                  - if @product.errors.messages[:price].any?
                    %span.error= @product.errors.messages[:price][0]
              .product_price-fee
                .text-commission
                販売手数料(10%)
                .right_bar
              .product_profit
                .text-profit
                販売利益
                %input#price{style: "display: none"}/
                .right_bar_2
          
          .product-btn-form
            .product-btn-form__box
              %p 
                =link_to "禁止されている出品"
                ,
                =link_to "行為"
                を必ずご確認ください。
              %p
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                =link_to "偽ブランドの販売"
                は犯罪であり処罰される可能性があります。
              %p
                また、出品を持ちまして
                =link_to "加盟店規約"
                に同意したことになります。
            .user-detail-form__btn
              = f.submit '編集する', class:"form-product__btn--red" 
            .product-back-btn
              %button.form-registration__btn--gray{type:"button"}
                戻る
    %footer.footer-products-new
      %nav.nav-products-new
        %ul
          %li 
            %a(href="#") プライバシーポリシー
          %li 
            %a(href="#") メルカリ利用規約
          %li 
            %a(href="#") 取引商取引に関する表記
      = link_to root_path, data: {"turbolinks" => false} do
        = image_tag "logo_gray.svg", class: "footer-logo", height: "65px", width: "80px"

