= form_for(@product) do |f|
  .exhibition
    .exhibition-head
      %h2 商品の情報を入力
    .exhibition-form
      .exhibition-form-image
        %label.exhibition-image
          出品画像
        %span.form-required
          必須
        %P
          最大１０枚までアップロードできます
        %label.image-box
          .exhibition-form-image-box
            %input.exhibition-form-image-box__file{multiple: "", type: "file"}
              %p.exhibition-form-image-box__comment
              %p
              ドラッグアンドドロップ
              %p
              またはクリックしてファイルをアップロード  
      .product-text-form
        .product-text-form__box
          %label.form-user-kana
            商品名
          %span.form-required
            必須
          = f.text_field:title, class:"input-form-product-name", placeholder:"商品名（必須40文字まで)"
        .product-text-form__info
          %label.form-user-kana
            商品の説明
          %span.form-required
            必須
          = f.text_area:info, class:"product-textarea",placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
      .product-details-form
        .product-details-form__info
          %p
            商品の詳細
        .product-details-form__info    
          .product-text-form__info-box
            %label.form-user-kana
              カテゴリー
            %span.form-required
              必須            
            .select-categories-form
          .actions
            %select#parent_category
              - @parent_categories.each do |c|
                %option{:value => "#{c.id}"}= c.name
            %select#product_category_ids{:name => "product[category_ids]"}
              - @default_child_categories.each do |c|
                %option= c.name
            :javascript
              $(function() {
                $('#parent_category').change(function() {
                  $.ajax({
                    url: "#{dynamic_select_category_path}",
                    type: 'GET',
                    data: { category_id: $('#parent_category').has('option:selected').val() }
                  });
                });
              });

          .product-details-form__info__low
            %label.form-user-kana
              商品の状態
            %span.form-required
              必須              
            .select-year-month-form
              %select.select-default   
                %option ---
                %option 新品、未使用
                %option 目立った傷や汚れなし
                %option やや傷や汚れあり
                %option 傷や汚れあり
                %option 全体的に状態悪い
      .product-delivery-form
        .product-delivery-form__info
          %p
            配送について
        .product-delivery-form__info-box
          .product-text-form__box
            %label.form-user-kana
              送料の負担
            %span.form-required
              必須        
            .select-year-month-form
              %select.select-default   
                %option ---
                %option 送料込み（出品者負担）
                %option 着払い（購入者負担）
          .product-text-form__box
            %label.form-user-kana
              発想の方法
            %span.form-required
              必須        
            .select-year-month-form
              %select.select-default   
                %option ---
                %option らくらくメルカリ便
                %option ゆうメール
          .product-text-form__box
            %label.form-user-kana
              発送元の地域
            %span.form-required
              必須    
            .select-year-month-form       
              %select.select-default{name: "prefecture"}
                %option ---
                %option 北海道
                %option 青森県
                %option 岩手県
                %option 宮城県
                %option 秋田県
                %option 山形県
                %option 福島県
                %option 東京都
                %option 神奈川県
                %option 埼玉県
                %option 千葉県
                %option 茨城県
                %option 栃木県
                %option 群馬県
                %option 山梨県
                %option 新潟県
                %option 長野県
                %option 富山県
                %option 石川県
                %option 福井県
                %option 愛知県
                %option 岐阜県
                %option 静岡県
                %option 三重県
                %option 大阪府
                %option 兵庫県
                %option 京都府
                %option 滋賀県
                %option 奈良県
                %option 和歌山県
                %option 鳥取県
                %option 島根県
                %option 岡山県
                %option 広島県
                %option 山口県
                %option 徳島県
                %option 香川県
                %option 愛媛県
                %option 高知県
                %option 福岡県
                %option 佐賀県
                %option 長崎県
                %option 熊本県
                %option 大分県
                %option 宮崎県
                %option 鹿児島県
                %option 沖縄県
          .product-text-form__box
            %label.form-user-kana
              発送までの日数
            %span.form-required
              必須        
            .select-year-month-form
              %select.select-default   
                %option ---
                %option １〜２日で発送
                %option ２〜３日で発送
                %option ４〜７日で発送
      .product-price-form
        .product-price-form__box-text
          %p
            販売価格（300~9,999,999）
        .product-price-form__box-text-low
          %ul
            %li.product-text-form__box
              %label.form-user-kana
                価格
                %span.form-required
                  必須       
              .product-text-form__box-price
                ¥
                %input.input-form-product-price{placeholder:"例）300" }
            %li.product-text-form__box-center
              .product-text-form__box-center__commission
                販売手数料（１０％）
                %span.product-form-line
                  ー
                
            %li.product-text-form__box-low
              .product-text-form__box-profit
                販売利益
                %span.product-form-line
                  ー
      .product-btn-form
        .product-btn-form__box
          %p 
            =link_to "禁止されている出品"
            ,
            =link_to "行為"
            を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            =link_to "偽ブランドの販売"
            は犯罪であり処罰される可能性があります。
          %p
            また、出品を持ちまして
            =link_to "加盟店規約"
            に同意したことになります。
        .user-dateile-form__btn
          -# = f.text_field:title, class:"input-form-product-name", placeholder:"商品名（必須40文字まで)"
          = f.submit 
            出品する
        .product-back-btn
          %button.form-registration__btn--gray{type:"button"}
            戻る


